@use '../../styles/partials/globalStyles'as *;
@import "../../App.scss";


.image-gallery {
    margin: 50px auto;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;


    &__images {
        cursor: pointer;
        max-width: 12rem;
        max-height: 12rem;
        display: flex;

        // width: 8rem;
        // height: 100%;
        // gap: 3rem;
        // object-fit: cover;


    }

    &__gallery {
        width: 20rem;
    }
}

img {
    cursor: pointer;
    object-fit: cover;
    width: 100%;
}