@use '../../styles/partials/globalStyles'as *;
@import "../../App.scss";


.image-gallery {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;


    &__images {
        cursor: pointer;
        max-width: 12rem;
        max-height: 12rem;
        display: flex;
    }

    &__gallery {
        // min-width: 20rem;
    }
}

img {
    cursor: pointer;
    object-fit: cover;
    max-width: 100%;
    max-height: 20rem;
}