//Primary Colors
$color-primary-black: #424447;
$color-primary-grey: #F0F0F0;
$color-primary-white: #FFFFFF;
$color-primary-silver: #6D7175;
$colour-form-field-border-default:#A7ACB1;

//Background Colors
$color-background-ivory: #FAF7F4;
$color-background-green: #008060;