@import "./variables";

// media queries
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin mobile-h1-text {
    font-family: $heading-font;
    font-size: $mobileFont-size-h1;
    font-weight: $mobileFont-weight-h1;
    line-height: $mobileFont-lineHeight-h1;
}