@font-face {
    font-family: "Conformity";
    src: url('../../assets/Fonts/conformity.normal.ttf') format("truetype");
    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: "Comfortaa";
    src: url('../../assets/Fonts/Comfortaa-Bold.ttf') format("truetype");
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: "Comfortaa";
    src: url('../../assets/Fonts/Comfortaa-Light.ttf') format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Comfortaa";
    src: url('../../assets/Fonts/Comfortaa-Medium.ttf') format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Comfortaa";
    src: url('../../assets/Fonts/Comfortaa-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Comfortaa";
    src: url('../../assets/Fonts/Comfortaa-SemiBold.ttf') format("truetype");
    font-style: lighter;
    font-weight: 600;
}

@font-face {
    font-family: "Bebas";
    src: url('../../assets/Fonts/Bebas-Regular.otf') format("opentype");
    src: url('../../assets/Fonts/Bebas-Regular.otf') format("truetype");
    src: url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap") rel("stylesheet");
    font-weight: 600;
}

@font-face {
    font-family: "Bebas";
    src: url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap") rel("stylesheet");
    font-style: normal;
    font-weight: 400;
}