@use "./typography"as *;

$breakpoints:(small: 320px,
    medium: 768px,
    large: 1280px,
);

$font-stack: "Comfortaa",
sans-serif;
$root-font-size: 1rem;
$h1-font: "Conformity";
$h2-font: "Conformity";

// font sizes
$p1-font-sizes: (null: .9375rem,
    320px: (.9375rem, 1.625rem),
    768px: (1rem, 1.75rem),
);

$p2-font-sizes: (null: .8125rem,
    320px: (.8125rem, 1.25rem),
    768px: (.875rem, 1.375rem),
);

$p3-font-sizes: (null: .6875rem,
    320px: (.6875rem, 1rem),
    768px: (.75rem, 1.125rem),
);

$h1-font-sizes: (null: 2.5rem,
    320px: (2.5rem, 36px),
    768px: (4rem, 40px),
);

$h2-font-sizes: (null: 2rem,
    320px: (2rem, 1.75rem),
    768px: (3rem, 2rem),
);

// buttons, labels
$h3-font-sizes: (null: .8125rem,
    320px: (.8125rem, 1.25rem),
    768px: (.875rem, 1.375rem),
);