@use '../../styles/partials/globalStyles'as *;
@import "../../App.scss";


.slider {

    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.image {
    max-width: 25rem;
    border-radius: .625rem;
    max-height: 20rem;

}

.arrows {
    // display: flex;
    position: absolute;


}

.right-arrow {
    margin-left: 250px;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.493);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    margin-right: 250px;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.493);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
    display: flex;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}