@use '../../styles/partials/globalStyles'as *;
@import "../../App.scss";


.slider {
    position: relative;
}

.image {
    max-width: 25rem;
    border-radius: .625rem;
    max-height: 20rem;
    // display: block;
    // margin-left: auto;
    // margin-right: 50%;
    // width: 50%;

}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.493);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.493);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}