@use '../../styles/partials/globalStyles'as *;

.virtual-tour {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include tablet {
        gap: 3rem;
        padding-bottom: 3rem;
    }


    &__image {
        height: 10rem;

        @include tablet {
            height: 50rem;
        }
    }

}