@use '../../styles/partials/globalStyles'as *;

.virtual-tour {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include tablet {
        gap: 5rem;
    }

    &__image {

        @include tablet {
            height: 50rem;
        }
    }
}