@use '../../styles/partials/globalStyles'as *;
@import "../../App.scss";


.menu-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header {

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;


        @include tablet {
            flex-wrap: nowrap;
            padding: 1rem 5rem;
        }

        @include desktop {
            padding: 2rem 10rem;
            // padding: 2rem 5rem 2rem 0.5rem;
        }
    }
}

.hamburger {
    position: relative;
    display: flex;
    flex-direction: column;

    @include tablet {
        display: none;
    }

    span {
        height: .1875rem;
        width: 1.5625rem;
        background: $color-primary-black;
        margin-bottom: 4px;
        border-radius: 15px;

        @include tablet {
            display: none;
        }
    }
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: column;
    flex-basis: 100%;
    gap: .5rem;


    @include tablet {
        justify-content: right;
        flex-direction: row;
        flex-basis: 90%;
        gap: 0.75rem;
    }

    @include desktop {
        gap: 2rem;
    }



    &__link {
        padding: 0.75rem 2rem;
        text-align: center;
        text-decoration: none;
        text-transform: capitalize;
        color: $color-primary-black;
        transition: all 0.2s ease-in;
        font-size: 0.9rem;
        z-index: 0;

        @include tablet {
            padding: 0;
        }

        &:hover {
            background-color: $color-background-blue;
            color: $color-background-ivory;
            padding: 0 .5rem;
            border-radius: 1rem;
        }

    }
}

.logo {
    width: 10rem;



    @include tablet {
        display: flex;
        width: 13rem;
    }
}

.clicked {
    background-color: $color-background-blue;
    color: $color-background-ivory;
    padding: 0 .5rem;
    border-radius: 1rem;
}