@use '../../styles/partials/globalStyles'as *;
@import "../../App.scss";

.van-page {
    @include page-container;
    z-index: 100;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}