@use '../../styles/partials/globalStyles'as *;
@import "../../App.scss";

.van-page {
    @include page-container;
    z-index: 100;
    padding-top: 1rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include tablet {
        gap: 2rem;
    }

    &__title-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include tablet {
            gap: 0;
        }
    }
}