@use '../../styles/partials/globalStyles'as *;
@import '../../App.scss';

.reviews {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 3rem;

    @include desktop {
        padding-bottom: 3rem;
    }

}

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 31.25rem;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;

    min-height: 400px;
    // width: 100%;
    border-radius: 40px;
}

.slider-wrapper {

    max-width: 75%;
    margin: 0;

    @include tablet {
        max-width: 100%;
    }

    @include desktop {
        width: 50%;
    }


}

.slick-slider {}


.slick-slide {
    text-align: center;
    display: flex;
    justify-content: center !important;
    padding-bottom: 2rem;

    &:focus {
        outline: none;
    }

    &__text {
        text-align: center;
        padding: 1.5rem 0;

        @include desktop {
            padding: 3rem 4rem 1.5rem;

        }

    }

    &__text-container {
        display: flex;
        flex-direction: column;

    }

    &__name {
        margin-left: auto;
        padding-right: 4rem;
        margin-bottom: 3rem;
    }

    &__image {
        display: flex;
        margin-left: 28%;
        margin-right: 0;
        max-width: 45%;
        height: auto;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        @include tablet {
            margin-left: 25%;
            max-width: 50%;
        }

        @include desktop {
            margin-left: 20%;
            max-width: 60%;
        }
    }

}


.slick-track {
    gap: 3rem;
}

.slick-list {
    // padding: 0 2rem;
    display: flex;
    flex-direction: column;
    // overflow: visible;
    // justify-content: center;
    align-content: center;

    width: 40rem;

    @include desktop {
        width: 70rem;
    }


}


.slick-prev {
    left: -2.5rem;

    @include tablet {
        left: -60px;
    }
}


.slick-next {
    right: -2.5rem;

    @include tablet {
        right: -60px;
    }
}

.slick-prev:before,
.slick-next:before {

    color: #777777;
}

.slick-slider,
.slick-initialized {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}