@use '../../styles/partials/globalStyles'as *;
@import url('https://cdn.syncfusion.com/ej2/material.css');
@import '../../App.scss';


.booking-form {
    border: solid $color-primary-black 1px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 3rem;
    align-items: center;

    @include tablet {
        margin-top: 2rem;
        padding: 3rem;
    }
}

.dates-and-cost {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;

    @include tablet {
        flex-direction: row;
        border-bottom: solid 1px $color-primary-black;
        padding-bottom: 2rem;
        gap: 1.5rem;
    }
}


.form-section {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px $color-primary-black;
    padding-bottom: 1.5rem;

    &--no-divider {
        border-bottom: none;
    }

    @include tablet {
        border: none;
        border-right: solid 1px $color-primary-black;
        padding-right: 1.5rem;
        display: inline-block;
        width: 100%;

        &--no-side-divider {
            border-right: none;
            padding-right: 0;
        }
    }


    &__title {
        flex: 1;
        text-transform: capitalize;

        @include tablet {
            padding-bottom: 1.5rem;
        }
    }

    &__fields-container {
        flex: 2;
        gap: 2rem;
        display: flex;
        flex-direction: column;

        @include tablet {
            gap: 1.2rem;
        }
    }

    &__field {
        display: flex;
        justify-content: space-between;

    }

    &__label {
        display: flex;
    }
}

.over25 {
    font-size: smaller;
}

.personal-info {
    @include tablet {
        margin-left: auto;
        margin-right: auto;
        width: 25rem;

    }

    &__form {
        @include tablet {}
    }
}

.error-message {
    color: $color-secondary-red;
    text-align: right;
    font-size: 0.8rem;
}

.success-msg {

    // display: block;
    // margin-left: auto;
    // margin-right: auto;

    position: absolute;
    // top: 50%;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    &__card {
        font-size: 1rem;
        background-color: $color-background-ivory;
        padding: 1.5rem 1.5rem;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        text-align: center;
        width: 20rem;

        @include tablet {
            padding: 1.5rem 1.5rem;
            width: 30rem;
        }
    }

    &__title {
        font-size: 180%;
    }

    a {
        color: $color-background-blue;
        font-weight: bolder;
    }

}