@use '../../styles/partials/globalStyles'as *;
@import "../../App.scss";


.home {
    // @extend .wrapper;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.image {

    &__banner {
        max-width: 100%;
        position: relative;
        top: 0;
        right: 0;
        padding-left: 1rem;
        background-color: $color-background-ivory;

        @include tablet {
            width: 100rem;
            background-color: none;
        }
    }

    &__van-side {
        width: 20rem;
        max-width: 100%;
        position: relative;
        bottom: 200px;
        left: -10px;

        @include tablet {
            width: 28rem;
            bottom: 300px;
            left: 30px;
        }
    }

    &__van-front {
        width: 20rem;
        display: flex;
        justify-content: center;
        // position: absolute;
    }
}


.places_to_go {


    &__list {
        display: flex;
        gap: 3rem;

    }
}

.banner {
    &__title {
        max-width: 100%;
        position: relative;
        bottom: 400px;
        left: 40px;

        @include tablet {
            top: 500px;
            left: 80px;
        }
    }

    &__button {
        max-width: 100%;
        position: relative;
        bottom: 390px;
        left: 40px;

        @include tablet {
            top: 560px;
            left: 80px;
        }
    }
}

.the-van {
    background-color: #4289DF;
    width: 100%;


}