@use './styles/partials/globalStyles'as *;


html,
body {
    padding: 0;
    margin: 0;
    font-family: $font-stack;
    font-size: $root-font-size;
    background-color: $color-background-ivory;
    color: $color-primary-black;
}


h1 {
    @include font-size($h1-font-sizes);
    font-family: $h1-font;
    color: $color-primary-black;
}

h2 {
    @include font-size($h2-font-sizes);
    font-family: $h2-font;
    color: $color-primary-black;
}

h3 {
    @include font-size($h3-font-sizes);
    font-family: $h3-font;
    color: $color-primary-black;
    font-weight: 500;
}

h4,
label {
    @include font-size($label-font-sizes);
    font-family: $label-font;
    color: $color-primary-black;
    text-transform: capitalize;
    line-height: 1rem;
}

p {
    font-family: $font-stack;
    line-height: .8rem;
    @include font-size($p1-font-sizes);

    @include tablet {
        line-height: 1.5rem;
    }

}

a {
    font-family: $font-stack;
    line-height: 1.6rem;
    text-decoration: none;
    color: $color-primary-black;
    cursor: pointer !important;

    &:hover {
        color: $color-background-blue;
    }

    &:active {
        font-weight: bold;
    }

}

.wrapper {
    max-width: 1170px;
    margin: 0;
    padding: 1rem 2rem 0 2rem;

    @include tablet {
        padding: 5rem;
        max-width: none;
    }

    @include desktop {
        padding: 5rem 15rem;

    }
}