@use "./styles/partials/reset"as *;
@import "./styles/partials/variables";
@import "./styles/partials/mixins";



* {
    box-sizing: border-box;
}

body {
    background-color: #FAF7F4;
    font-family: $heading-font;
}

h1 {
    font-family: $heading-font;
    @include mobile-h1-text;
    color: red;
}