@use './styles/partials/globalStyles'as *;


html,
body {
    padding: 0;
    margin: 0;
    font-family: $font-stack;
    font-size: $root-font-size;
    background-color: $color-background-ivory;
    color: $color-primary-black;
}


h1 {
    @include font-size($h1-font-sizes);
    font-family: $h1-font;
    color: $color-primary-black;
}

h2 {
    @include font-size($h2-font-sizes);
    font-family: $h2-font;
    color: $color-primary-black;
}

p {
    font-family: $font-stack;
    line-height: 1.6rem;

}

a {
    font-family: $font-stack;
    line-height: 1.6rem;
    text-decoration: none;
    color: $color-primary-black;

    &:hover {
        color: red;
    }

    &:active {
        font-weight: bold;
    }

}

button {
    // background-color: $color-background-green;
    background-color: cornflowerblue;
    font-size: 1.125rem;
    border-radius: .25rem;
    border: none;
    width: 10rem;
    padding: 0.4rem 1rem;
    color: $color-primary-white;
    cursor: pointer;

    &:hover {
        background-color: red;
        // cursor: pointer;
    }
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 3rem;

    @include tablet {
        // padding: 0 $tablet-padding-page-edge;
    }

    @include desktop {
        // padding: 0 $desktop-padding-page-edge;
    }
}