@use '../../styles/partials/globalStyles'as *;
@import "../../App.scss";


.header {
    // @extend.wrapper;



    @include tablet {
        margin: 0;
        width: 100%;
        padding: 1rem 0;
        // padding-top: 1rem;
        // padding-bottom: 2rem;
        z-index: 200;
        position: sticky;
        top: 0;
        background-color: $color-background-ivory;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        @include desktop {
            padding: 0;
        }
    }

    // &__container {
    //     padding-top: 2rem;
    // }

}