@use '../../styles/partials/globalStyles'as *;
@import url('https://cdn.syncfusion.com/ej2/material.css');
@import '../../App.scss';


.booking-page__container {
    @include page-container;
    padding-top: 1rem;
    gap: 2rem;
}

.booking-form {
    @extend .wrapper;
    border: solid $color-primary-black 1px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;

    @include tablet {
        margin-top: 2rem;
        padding: 3rem;
    }
}

.dates-and-cost {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;

    @include tablet {
        flex-direction: row;
        border-bottom: solid 1px $color-primary-black;
        padding-bottom: 2rem;
        gap: 1.5rem;
    }
}

.form-section {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px $color-primary-black;
    padding-bottom: 1.5rem;
    gap: 1.5rem;

    &--no-divider {
        border-bottom: none;
    }

    @include tablet {
        border: none;
        border-right: solid 1px $color-primary-black;
        padding-right: 1.5rem;
        display: inline-block;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: row;
        gap: 0;

        &--no-side-divider {
            border-right: none;
            padding-right: 0;
        }
    }

    &__title {
        flex: 1;
        text-transform: capitalize;

        @include tablet {
            padding-bottom: 1.5rem;
        }
    }

    &__fields-container {
        flex: 2;
        gap: 2rem;
        display: flex;
        flex-direction: column;

        @include tablet {
            gap: 1.5rem;
        }
    }

    &__field {

        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablet {
            gap: 0;
            flex-direction: row;
        }
    }

    &__label {
        display: flex;
    }
}

.over25 {
    font-size: smaller;
}

.personal-info {
    @include tablet {
        margin-left: auto;
        margin-right: auto;
        width: 25rem;
    }
}

.total {
    font-weight: bold;
}