@use '../../styles/partials/globalStyles'as *;
@import url('https://cdn.syncfusion.com/ej2/material.css');
@import '../../App.scss';


.booking-page {
    display: flex;
    flex-direction: column;
    background-color: $color-background-ivory;
    position: relative;
    @extend .wrapper;

    padding-top: 4rem;


    &__title {
        height: 5rem;
    }
}

.booking-form {
    border: solid $color-primary-black 1px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 3rem;
    align-items: center;
}

.dates-and-cost {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    // justify-content: space-evenly;
    width: 100%;

    @include tablet {
        display: flex;
    }
}


.section {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px $color-primary-black;
    padding-bottom: 1.5rem;

    &--no-divider {
        border-bottom: none;
    }

    &__trip-dates {}



    &__title {
        flex: 1;
        text-transform: capitalize;
    }

    &__calendars {
        flex: 2;
        gap: 2rem;
        display: flex;
        flex-direction: column;
    }

    &__calendar {
        display: flex;
        justify-content: space-between;

    }

    &__subtitle {

        display: flex;

        margin-right: auto;
    }
}

.over25 {
    font-size: smaller;
}