@use '../../styles/partials/globalStyles'as *;
@import "../../App.scss";

.alice {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
    max-height: auto;
    max-width: 100%;

    // width: 1rem;

    @include desktop {
        // flex: 1;
    }

    &__subtitle {
        font-size: 2rem;

    }


}